body {
  margin: 0;
  padding: 0;
  background: black;
}

.icon {
    background: #70B5E0;
    border-radius: 50%;
    box-shadow: inset -15px -15px 0px 0px rgba(0, 0, 0, 0.1);
}
.anchor {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #f77;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: anchor 10s both infinite;
}

.place {
    position: absolute;
    width: 20px;
    height: 13px;
    background: #F2DDAA;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.anchor:before {
    position: absolute;
    content: "";
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 13px solid #f77;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.anchor:after {
    position: absolute;
    content: "";
    width: 30%;
    height: 30%;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.place1 {
    top: 77%;
    left: 64%;
}

.place2 {
    width: 17px;
    height: 10px;
    top: 67%;
    left: 25%;
}

.place3 {
    width: 17px;
    height: 10px;
    top: 36%;
    left: 75%;
}

.place4 {
    width: 17px;
    height: 10px;
    top: 26%;
    left: 35%;
}

.anchor1 {
    top: 55%;
    left: 65%;
    animation-delay: 0.3s;
}

.anchor2 {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%) scale(0.8);
    animation-delay: 0.6s;
}

.anchor3 {
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%) scale(0.8);
    animation-delay: 0.9s;
}

.anchor4 {
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%) scale(0.7);
    animation-delay: 1.2s;
}

@keyframes anchor {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    10% {
        opacity: 1;
        margin-top: 0px;
    }

    85% {
        opacity: 1;
        margin-top: 0px;
    }

    91% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 0;
        margin-top: -20px;
    }
}
.hotspot {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.hotspot.search {
    width: 24px;
    height: 24px;
    /* border: 1px solid #fff; */
}

.hotspot.search:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.hotspot.search:after {
    position: absolute;
    content: "";
    top: 14px;
    left: 14px;
    width: 3px;
    height: 8px;
    background: #fff;
    transform-origin: 50% 0%;
    transform: rotate(-45deg);
}

.hotspot.link {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.viewer[data-page="1"] .hotspot[data-page="1"] {
    display: block;
}

.viewer[data-page="2"] .hotspot[data-page="2"] {
    display: block;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 4;
    display: none;
}

.layer img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
    
.viewer {
  height: 100vh;
  max-width: 800px;
/*  height: 440px;*/
}